body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightblue;
    position: relative;
    min-height: 100vh; /* Zorg ervoor dat de body ten minste de hoogte van het scherm heeft */
    display: flex;
    flex-direction: column; /* Zorg ervoor dat de footer aan de onderkant van de pagina blijft */
    overflow-x: hidden;
    box-sizing: border-box;
}

header {
    height: auto;
    width: 100%;
    background-color: #2B3943;
    color: #fff;
    text-align: center;
    padding: 1em;
    z-index: 2;
}

h1 {
    font-size: 50px;
}

.logo {
    height: 60px;
    width: auto;
}

#hamburger-icon {
    background-color: #222C34;
    width: 100%;
    display: none;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    #hamburger-icon {
        display: block;
        font-size: 24px;
        padding: 14px;
        color: white;
    }

    nav {
        display: none;
    }

    nav.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav.active a {
        display: block;
        padding: 10px;
        text-align: center;
    }
}

nav {
    width: 100%;
    background-color: #222C34;
    overflow: hidden;
    z-index: 2;
    display: flex;
    justify-content: center;
}

nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav select {
    display: none;
}

* {
    box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
    nav a {
        display: none;
    }

    nav select {
        display: inline-block;
        padding: 14px 16px;
        color: white;
        background-color: #222C34;
        border: none;
        cursor: pointer;
    }
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

section {
    padding: 20px;
    flex: 1; /* Zorg ervoor dat de sectie de beschikbare ruimte opvult */
}

footer {
    background-color: #222C34;
    color: white;
    text-align: center;
    padding: 1em;
    width: 100%;
    margin-top: auto; /* Zorg ervoor dat de footer naar beneden verschuift */
}

button {
    width: 100%;
    max-width: 180px;
    padding: 10px;
    margin: 12.5px;
    font-size: 16px;
    box-sizing: border-box;
}

iframe {
    margin: auto;
    display: block;
    height: 1200px;
}

#image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-container {
    width: calc(50% - 10px);
    margin: 5px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.lightbox-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.lightbox-img {
    max-width: 70%;
    max-height: 70%;
    display: block;
    margin: 0 auto;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
}

.info-item {
    text-align: center;
    max-width: 300px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    z-index: 1;
}

.close-button:hover {
    color: #ccc;
}

.Groepsfoto {
    width: 100%;
    height: auto;
    z-index: 0;
}

.pdf-box {
    width: 45%;
    padding: 20px;
    margin: 10px auto;
    background-color: #f0f0f0;
    border-radius: 10px;
    text-align: center;
}

.pdf-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.begeleiding-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Ruimte tussen de items */
    justify-content: center;
    padding: 20px;
}

.begeleiding-box {
    width: calc(50% - 20px); /* 50% breedte minus de gap ruimte */
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    text-align: center;
    margin: 10px 0; /* Marge boven en onder de boxen */
    overflow: hidden; /* Zorg ervoor dat de inhoud binnen de box blijft */
}

.begeleiding-img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Zorgt ervoor dat de afbeelding de container vult zonder vervorming */
    border-radius: 10px; /* Optioneel, maakt de hoeken van de afbeelding rond */
}

.midden {
    text-align: center;
}

#lightbox-content {
    position: relative;
}

.nav-arrow {
    font-size: 30px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#prev-arrow {
    left: 10px;
}

#next-arrow {
    right: 10px;
}

#nav-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    body {
        overflow-x: auto;
    }

    header, footer {
        width: 100%;
    }

    nav {
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    nav a, nav select {
        padding: 10px;
    }

    h1 {
        font-size: 40px;
    }

    .image-container {
        width: 100%;
    }

    .pdf-box {
        width: 80%;
    }
}

@media only screen and (max-width: 480px) {
    body {
        overflow-x: auto;
    }

    header, footer {
        width: 100%;
    }

    nav {
        display: flex;
        align-items: center;
        text-align: center;
    }

    nav select {
        display: none;
    }

    iframe {
        width: 100%;
        height: 1400px;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .begeleiding-box {
        width: 100%; /* Zorg ervoor dat de boxen volledig breed zijn op kleine schermen */
        box-sizing: border-box; /* Zorg ervoor dat padding en borders bij de breedte worden inbegrepen */
    }
}

.maps {
    height: auto;
    width: auto;
}