* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightblue;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    height: auto;
    width: 100%;
    background-color: #2B3943;
    color: #fff;
    text-align: center;
    padding: 1em;
    z-index: 2;
}

h1 {
    font-size: 50px;
}

nav {
    width: 100%;
    background-color: #222C34;
    overflow: hidden;
    z-index: 2;
    display: flex;
    justify-content: center;
}

nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav select {
    display: none;
}

#hamburger-icon {
    background-color: #222C34;
    width: 100%;
    display: none;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    #hamburger-icon {
        display: block;
        font-size: 24px;
        padding: 14px;
        color: white;
    }

    nav {
        align-items: center;
        justify-content: space-between;
    }

    nav a {
        display: none;
    }

    nav.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav.active a {
        display: block;
        padding: 10px;
        text-align: center;
    }

    nav select {
        display: inline-block;
        padding: 14px 16px;
        color: white;
        background-color: #222C34;
        border: none;
        cursor: pointer;
    }

    h1 {
        font-size: 40px;
    }

    .image-container {
        width: 100%;
    }

    .pdf-box {
        width: 80%;
    }
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

section {
    padding: 20px;
    flex: 1;
}

footer {
    background-color: #222C34;
    color: white;
    text-align: center;
    padding: 1em;
    width: 100%;
    margin-top: auto;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.contact-box {
    width: calc(30% - 10px);
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    text-align: center;
    margin: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 768px) {
    .contact-box {
        width: calc(45% - 10px); 
    }

    iframe {
        margin: auto;
        display: block;
        height: 1800px;
    }
}

@media only screen and (max-width: 480px) {
    .contact-box {
        width: 100%;        
    }

    iframe {
        height: 1800px;
        width: 100%;
    }
}

button {
    width: 100%;
    max-width: 180px;
    padding: 10px;
    margin: 12.5px;
    font-size: 16px;
    box-sizing: border-box;
}

iframe {
    margin: auto;
    display: block;
    width: 100%;
    height: 1800px;
    border: none;
}

.maps {
    height: auto;
    width: auto;
    border-radius: 10px;
}

#image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-container {
    width: calc(50% - 10px);
    margin: 5px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.lightbox-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.lightbox-img {
    max-width: 70%;
    max-height: 70%;
    display: block;
    margin: 0 auto;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    z-index: 1;
}

.close-button:hover {
    color: #ccc;
}

.Groepsfoto {
    width: 100%;
    height: auto;
    z-index: 0;
}

.pdf-box {
    width: 45%;
    padding: 20px;
    margin: 10px auto;
    background-color: #f0f0f0;
    border-radius: 10px;
    text-align: center;
}

.pdf-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.foto-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.foto-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.foto-box {
    width: calc(50% - 20px); 
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    text-align: center;
    margin: 10px 0; 
    overflow: hidden; 
}

.begeleiding-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.begeleiding-box {
    width: calc(50% - 20px);
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    text-align: center;
    margin: 10px 0;
    overflow: hidden;
}

.begeleiding-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.midden {
    text-align: center;
}

#lightbox-content {
    position: relative;
}

.nav-arrow {
    font-size: 30px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#prev-arrow {
    left: 10px;
}

#next-arrow {
    right: 10px;
}

#nav-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    body {
        overflow-x: auto;
    }

    header, footer {
        width: 100%;
    }

    nav a, nav select {
        padding: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .foto-box {
        width: 100%;
        margin: 10px 0;
    }

    .foto-button {
        width: 100%;
        max-width: none;
    }
}
